<html>
<style>
</style>
<body><h1><a href="/">Home Page</a></h1>
<div style="display:inline-block;margin-left: 15%;max-width: 300px;padding: 3px;border: 2px ridge;"><h2>Paint analyzed</h2><img src="Images/query.jpg" align="left" style="display: block;margin-left: auto;margin-right: auto;"><br><p>Style:</p><ul><li>romanticism : 89.34</li><li>baroque : 7.94</li></ul></div><h3>Search results: [time: 229 ms]</h3><table align='center'>
<tr>
<td><img align='center' border='0' height='160' title='CAMILLE_COROT_20.jpg, dist: 0.0' src='Images/CAMILLE_COROT_20.jpg'></td>
<td><img align='center' border='0' height='160' title='CAMILLE_COROT_8.jpg, dist: 0.6869470992341671' src='Images/CAMILLE_COROT_8.jpg'></td>
<td><img align='center' border='0' height='160' title='CLAUDE_LORRAIN_39.jpg, dist: 0.713397005750466' src='Images/CLAUDE_LORRAIN_39.jpg'></td>
<td><img align='center' border='0' height='160' title='CAMILLE_COROT_2.jpg, dist: 0.7402739529663348' src='Images/CAMILLE_COROT_2.jpg'></td>
</tr>
<tr>
<td><img align='center' border='0' height='160' title='JOHN_CONSTABLE_23.jpg, dist: 0.7441052864558366' src='Images/JOHN_CONSTABLE_23.jpg'></td>
<td><img align='center' border='0' height='160' title='CAMILLE_COROT_15.jpg, dist: 0.7581993608136712' src='Images/CAMILLE_COROT_15.jpg'></td>
<td><img align='center' border='0' height='160' title='JOHN_CONSTABLE_27.jpg, dist: 0.7723799680011835' src='Images/JOHN_CONSTABLE_27.jpg'></td>
<td><img align='center' border='0' height='160' title='CAMILLE_COROT_35.jpg, dist: 0.8098297366284645' src='Images/CAMILLE_COROT_35.jpg'></td>
</tr>
<tr>
<td><img align='center' border='0' height='160' title='CAMILLE_COROT_45.jpg, dist: 0.8208518113177017' src='Images/CAMILLE_COROT_45.jpg'></td>
<td><img align='center' border='0' height='160' title='CAMILLE_COROT_18.jpg, dist: 0.8264939987085065' src='Images/CAMILLE_COROT_18.jpg'></td>
<td><img align='center' border='0' height='160' title='CASPAR_DAVID_FRIEDRICH_37.jpg, dist: 0.8325982139608397' src='Images/CASPAR_DAVID_FRIEDRICH_37.jpg'></td>
<td><img align='center' border='0' height='160' title='JOHN_CONSTABLE_29.jpg, dist: 0.836790352821258' src='Images/JOHN_CONSTABLE_29.jpg'></td>
</tr>
<tr>
<td><img align='center' border='0' height='160' title='CAMILLE_COROT_12.jpg, dist: 0.8542348269346254' src='Images/CAMILLE_COROT_12.jpg'></td>
<td><img align='center' border='0' height='160' title='CLAUDE_LORRAIN_17.jpg, dist: 0.8626600689353908' src='Images/CLAUDE_LORRAIN_17.jpg'></td>
<td><img align='center' border='0' height='160' title='JOHN_CONSTABLE_4.jpg, dist: 0.8732177108030993' src='Images/JOHN_CONSTABLE_4.jpg'></td>
<td><img align='center' border='0' height='160' title='CAMILLE_COROT_42.jpg, dist: 0.8738745186646756' src='Images/CAMILLE_COROT_42.jpg'></td>
</tr>
<tr>
<td><img align='center' border='0' height='160' title='CASPAR_DAVID_FRIEDRICH_21.jpg, dist: 0.9057382126067428' src='Images/CASPAR_DAVID_FRIEDRICH_21.jpg'></td>
<td><img align='center' border='0' height='160' title='CAMILLE_COROT_4.jpg, dist: 0.9144048388627376' src='Images/CAMILLE_COROT_4.jpg'></td>
<td><img align='center' border='0' height='160' title='CASPAR_DAVID_FRIEDRICH_5.jpg, dist: 0.9295160028442442' src='Images/CASPAR_DAVID_FRIEDRICH_5.jpg'></td>
<td><img align='center' border='0' height='160' title='CLAUDE_LORRAIN_19.jpg, dist: 0.9342555499067363' src='Images/CLAUDE_LORRAIN_19.jpg'></td>
</tr>
<tr>
<td><img align='center' border='0' height='160' title='Frederic_Edwin_Church_24.jpg, dist: 0.9648381755126244' src='Images/Frederic_Edwin_Church_24.jpg'></td>
<td><img align='center' border='0' height='160' title='CLAUDE_MONET_12.jpg, dist: 1.0016299530265904' src='Images/CLAUDE_MONET_12.jpg'></td>
<td><img align='center' border='0' height='160' title='Frederic_Edwin_Church_30.jpg, dist: 1.030505789706356' src='Images/Frederic_Edwin_Church_30.jpg'></td>
<td><img align='center' border='0' height='160' title='JOSEPH_MALLORD_WILLIAM_TURNER_47.jpg, dist: 1.037024999826936' src='Images/JOSEPH_MALLORD_WILLIAM_TURNER_47.jpg'></td>
</tr>
<tr>
<td><img align='center' border='0' height='160' title='JOSEPH_MALLORD_WILLIAM_TURNER_2.jpg, dist: 1.0440615965439604' src='Images/JOSEPH_MALLORD_WILLIAM_TURNER_2.jpg'></td>
<td><img align='center' border='0' height='160' title='CASPAR_DAVID_FRIEDRICH_46.jpg, dist: 1.0579982143249327' src='Images/CASPAR_DAVID_FRIEDRICH_46.jpg'></td>
<td><img align='center' border='0' height='160' title='JAMES_MCNEILL_WHISTLER_20.jpg, dist: 1.0592999512716634' src='Images/JAMES_MCNEILL_WHISTLER_20.jpg'></td>
<td><img align='center' border='0' height='160' title='JAMES_MCNEILL_WHISTLER_21.jpg, dist: 1.0884297345289438' src='Images/JAMES_MCNEILL_WHISTLER_21.jpg'></td>
</tr>
<tr>
<td><img align='center' border='0' height='160' title='JOSEPH_MALLORD_WILLIAM_TURNER_17.jpg, dist: 1.1068519153872267' src='Images/JOSEPH_MALLORD_WILLIAM_TURNER_17.jpg'></td>
<td><img align='center' border='0' height='160' title='JOSEPH_MALLORD_WILLIAM_TURNER_26.jpg, dist: 1.1511128884012325' src='Images/JOSEPH_MALLORD_WILLIAM_TURNER_26.jpg'></td>
</tr>
</table>
</body>
</html>