<html><head><title>Similarity Paintings</title><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<style>
 a { text-decoration: inherit; color: inherit;}
</style>
</head>
<body style="text-align: center; background-color:rgb(255, 255, 217);"><h1><a href="/">Similarity Paintings Search Engine</a> </h1><hr>
<div style="display:inline-block;padding: 3px;border: 2px ridge;"><h3>Paint analyzed</h3><hr><img src="Images/query.jpg" align="left" style="display: block;margin-left: auto;margin-right: auto;"><br><div style="text-align:left"><p>Predicted Style:</p><ul><li>cubbism : 99.81 %</li></ul><p>Predicted Artist:</p><ul><li>Georges Braque : 95.53 %</li></ul></div></div><h3 style="text-align: left">Search results: [time: 92 ms]</h3><table align='center'>
<tr>
<td><img align='center' border='0' height='160' title='GEORGES_BRAQUE_14.jpg, dist: 0.0' src='Images/GEORGES_BRAQUE_14.jpg'></td>
<td><img align='center' border='0' height='160' title='GEORGES_BRAQUE_23.jpg, dist: 0.0' src='Images/GEORGES_BRAQUE_23.jpg'></td>
<td><img align='center' border='0' height='160' title='GEORGES_BRAQUE_2.jpg, dist: 0.8578914221621361' src='Images/GEORGES_BRAQUE_2.jpg'></td>
<td><img align='center' border='0' height='160' title='Picasso_37.jpg, dist: 0.9179400256174165' src='Images/Picasso_37.jpg'></td>
<td><img align='center' border='0' height='160' title='GEORGES_BRAQUE_26.jpg, dist: 0.9308908636085181' src='Images/GEORGES_BRAQUE_26.jpg'></td>
</tr>
<tr>
<td><img align='center' border='0' height='160' title='UMBERTO_BOCCIONI_15.jpg, dist: 0.936099100602843' src='Images/UMBERTO_BOCCIONI_15.jpg'></td>
<td><img align='center' border='0' height='160' title='GEORGES_BRAQUE_37.jpg, dist: 0.9361792701328027' src='Images/GEORGES_BRAQUE_37.jpg'></td>
<td><img align='center' border='0' height='160' title='KAZIMIR_MALEVICH_24.jpg, dist: 0.9581088408341853' src='Images/KAZIMIR_MALEVICH_24.jpg'></td>
<td><img align='center' border='0' height='160' title='UMBERTO_BOCCIONI_31.jpg, dist: 0.9706492373073162' src='Images/UMBERTO_BOCCIONI_31.jpg'></td>
<td><img align='center' border='0' height='160' title='UMBERTO_BOCCIONI_25.jpg, dist: 0.9724904695323362' src='Images/UMBERTO_BOCCIONI_25.jpg'></td>
</tr>
<tr>
<td><img align='center' border='0' height='160' title='UMBERTO_BOCCIONI_36.jpg, dist: 0.9740858680982706' src='Images/UMBERTO_BOCCIONI_36.jpg'></td>
<td><img align='center' border='0' height='160' title='GEORGES_BRAQUE_35.jpg, dist: 0.9772243104729672' src='Images/GEORGES_BRAQUE_35.jpg'></td>
<td><img align='center' border='0' height='160' title='GEORGES_BRAQUE_17.jpg, dist: 0.9792414849686125' src='Images/GEORGES_BRAQUE_17.jpg'></td>
<td><img align='center' border='0' height='160' title='FRA_ANGELICO_39.jpg, dist: 0.988448178896107' src='Images/FRA_ANGELICO_39.jpg'></td>
<td><img align='center' border='0' height='160' title='GEORGES_BRAQUE_22.jpg, dist: 0.9897558293276782' src='Images/GEORGES_BRAQUE_22.jpg'></td>
</tr>
<tr>
<td><img align='center' border='0' height='160' title='Picasso_21.jpg, dist: 0.9908856788561284' src='Images/Picasso_21.jpg'></td>
<td><img align='center' border='0' height='160' title='FRA_ANGELICO_17.jpg, dist: 1.000521231658963' src='Images/FRA_ANGELICO_17.jpg'></td>
<td><img align='center' border='0' height='160' title='GEORGES_BRAQUE_15.jpg, dist: 1.0022673195537912' src='Images/GEORGES_BRAQUE_15.jpg'></td>
<td><img align='center' border='0' height='160' title='GEORGES_BRAQUE_28.jpg, dist: 1.0110652554714925' src='Images/GEORGES_BRAQUE_28.jpg'></td>
<td><img align='center' border='0' height='160' title='GEORGES_BRAQUE_24.jpg, dist: 1.0146271256385093' src='Images/GEORGES_BRAQUE_24.jpg'></td>
</tr>
<tr>
<td><img align='center' border='0' height='160' title='UMBERTO_BOCCIONI_6.jpg, dist: 1.01561588707756' src='Images/UMBERTO_BOCCIONI_6.jpg'></td>
<td><img align='center' border='0' height='160' title='GEORGES_BRAQUE_1.jpg, dist: 1.016580050462505' src='Images/GEORGES_BRAQUE_1.jpg'></td>
<td><img align='center' border='0' height='160' title='GEORGES_BRAQUE_38.jpg, dist: 1.0222587100083245' src='Images/GEORGES_BRAQUE_38.jpg'></td>
<td><img align='center' border='0' height='160' title='ANDREA_MANTEGNA_2.jpg, dist: 1.0251655240684134' src='Images/ANDREA_MANTEGNA_2.jpg'></td>
<td><img align='center' border='0' height='160' title='UMBERTO_BOCCIONI_4.jpg, dist: 1.033188888806271' src='Images/UMBERTO_BOCCIONI_4.jpg'></td>
</tr>
<tr>
<td><img align='center' border='0' height='160' title='ANDREA_MANTEGNA_35.jpg, dist: 1.037235061685383' src='Images/ANDREA_MANTEGNA_35.jpg'></td>
<td><img align='center' border='0' height='160' title='GEORGES_BRAQUE_11.jpg, dist: 1.0400714243917013' src='Images/GEORGES_BRAQUE_11.jpg'></td>
<td><img align='center' border='0' height='160' title='FRANZ_MARC_44.jpg, dist: 1.040255501955365' src='Images/FRANZ_MARC_44.jpg'></td>
<td><img align='center' border='0' height='160' title='EDGAR_DEGAS_16.jpg, dist: 1.0419058314491485' src='Images/EDGAR_DEGAS_16.jpg'></td>
<td><img align='center' border='0' height='160' title='ANDREA_MANTEGNA_27.jpg, dist: 1.0439512084991467' src='Images/ANDREA_MANTEGNA_27.jpg'></td>
</tr>
</table>
</body>
</html>