<html>
<style>
</style>
<body><h1><a href="/">Home Page</a></h1>
<div style="display:inline-block;margin-left: 15%;max-width: 300px;padding: 3px;border: 2px ridge;"><h2>Paint analyzed</h2><img src="Images/query.jpg" align="left" style="display: block;margin-left: auto;margin-right: auto;"><br><p>Style:</p><ul><li>romanticism : 99.52</li></ul></div><h3>Search results: [time: 385 ms]</h3><table align='center'>
<tr>
<td><img align='center' border='0' height='160' title='CAMILLE_COROT_48.jpg, dist: 0.0' src='Images/CAMILLE_COROT_48.jpg'></td>
<td><img align='center' border='0' height='160' title='JOHN_CONSTABLE_27.jpg, dist: 0.7117224001016251' src='Images/JOHN_CONSTABLE_27.jpg'></td>
<td><img align='center' border='0' height='160' title='CAMILLE_COROT_12.jpg, dist: 0.7835431943624448' src='Images/CAMILLE_COROT_12.jpg'></td>
<td><img align='center' border='0' height='160' title='GUSTAV_KLIMT_5.jpg, dist: 0.8109512262314091' src='Images/GUSTAV_KLIMT_5.jpg'></td>
<td><img align='center' border='0' height='160' title='CAMILLE_COROT_17.jpg, dist: 0.8228338574268201' src='Images/CAMILLE_COROT_17.jpg'></td>
</tr>
<tr>
<td><img align='center' border='0' height='160' title='PAUL_CEZANNE_30.jpg, dist: 0.837647638390796' src='Images/PAUL_CEZANNE_30.jpg'></td>
<td><img align='center' border='0' height='160' title='PAUL_GAUGUIN_24.jpg, dist: 0.8476869977501997' src='Images/PAUL_GAUGUIN_24.jpg'></td>
<td><img align='center' border='0' height='160' title='CAMILLE_COROT_46.jpg, dist: 0.8500218222935574' src='Images/CAMILLE_COROT_46.jpg'></td>
<td><img align='center' border='0' height='160' title='CAMILLE_COROT_15.jpg, dist: 0.8696493835077241' src='Images/CAMILLE_COROT_15.jpg'></td>
<td><img align='center' border='0' height='160' title='CAMILLE_COROT_42.jpg, dist: 0.8771799479884517' src='Images/CAMILLE_COROT_42.jpg'></td>
</tr>
<tr>
<td><img align='center' border='0' height='160' title='GEORGES_SEURAT_37.jpg, dist: 0.8776927343135135' src='Images/GEORGES_SEURAT_37.jpg'></td>
<td><img align='center' border='0' height='160' title='CAMILLE_COROT_39.jpg, dist: 0.8940477473062673' src='Images/CAMILLE_COROT_39.jpg'></td>
<td><img align='center' border='0' height='160' title='CAMILLE_COROT_24.jpg, dist: 0.8947526365651979' src='Images/CAMILLE_COROT_24.jpg'></td>
<td><img align='center' border='0' height='160' title='JOHN_CONSTABLE_23.jpg, dist: 0.8997549914747949' src='Images/JOHN_CONSTABLE_23.jpg'></td>
<td><img align='center' border='0' height='160' title='PAUL_CEZANNE_48.jpg, dist: 0.9139891124228551' src='Images/PAUL_CEZANNE_48.jpg'></td>
</tr>
<tr>
<td><img align='center' border='0' height='160' title='JEAN_FRANCOIS_MILLET_36.jpg, dist: 0.9384278396050079' src='Images/JEAN_FRANCOIS_MILLET_36.jpg'></td>
<td><img align='center' border='0' height='160' title='CASPAR_DAVID_FRIEDRICH_20.jpg, dist: 0.9454017843681359' src='Images/CASPAR_DAVID_FRIEDRICH_20.jpg'></td>
<td><img align='center' border='0' height='160' title='CAMILLE_COROT_32.jpg, dist: 0.950392921053887' src='Images/CAMILLE_COROT_32.jpg'></td>
<td><img align='center' border='0' height='160' title='CASPAR_DAVID_FRIEDRICH_24.jpg, dist: 0.9508998663580007' src='Images/CASPAR_DAVID_FRIEDRICH_24.jpg'></td>
<td><img align='center' border='0' height='160' title='CAMILLE_COROT_4.jpg, dist: 0.9685015066234706' src='Images/CAMILLE_COROT_4.jpg'></td>
</tr>
<tr>
<td><img align='center' border='0' height='160' title='CASPAR_DAVID_FRIEDRICH_6.jpg, dist: 0.9724015264391074' src='Images/CASPAR_DAVID_FRIEDRICH_6.jpg'></td>
<td><img align='center' border='0' height='160' title='CASPAR_DAVID_FRIEDRICH_37.jpg, dist: 0.984234917837699' src='Images/CASPAR_DAVID_FRIEDRICH_37.jpg'></td>
<td><img align='center' border='0' height='160' title='CLAUDE_MONET_28.jpg, dist: 1.0429963777244862' src='Images/CLAUDE_MONET_28.jpg'></td>
<td><img align='center' border='0' height='160' title='GEORGES_SEURAT_33.jpg, dist: 1.0441897894628047' src='Images/GEORGES_SEURAT_33.jpg'></td>
<td><img align='center' border='0' height='160' title='CLAUDE_MONET_21.jpg, dist: 1.0442229440503688' src='Images/CLAUDE_MONET_21.jpg'></td>
</tr>
<tr>
<td><img align='center' border='0' height='160' title='JAMES_MCNEILL_WHISTLER_26.jpg, dist: 1.0956537036672134' src='Images/JAMES_MCNEILL_WHISTLER_26.jpg'></td>
<td><img align='center' border='0' height='160' title='GERHARD_RICHTER_31.jpg, dist: 1.105012844977198' src='Images/GERHARD_RICHTER_31.jpg'></td>
<td><img align='center' border='0' height='160' title='GERHARD_RICHTER_33.jpg, dist: 1.105012844977198' src='Images/GERHARD_RICHTER_33.jpg'></td>
<td><img align='center' border='0' height='160' title='JACKSON_POLLOCK_3.jpg, dist: 1.1111063009414859' src='Images/JACKSON_POLLOCK_3.jpg'></td>
<td><img align='center' border='0' height='160' title='JACKSON_POLLOCK_33.jpg, dist: 1.123592699838894' src='Images/JACKSON_POLLOCK_33.jpg'></td>
</tr>
</table>
</body>
</html>